@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Playball&display=swap');

* {
  box-sizing: border-box;
  --white: #FFFFFF;
  --light-gray: #D4D4D4;
  --gainsboro: #DBDBDB;
  --granite-gray: #666666;
  --blue-jeans: #52B6FF;
  --anti-flash-white: #F2F2F2;
  --silver-foil: #AFAFAF;
  --green-blue: #126BA5;
  --gray: #BABABA;
  --android-green: #8FC549;
  --bright-gray: #EBEBEB;
  --american-silver: #CFCFCF;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--white);
}
